<style type=\"text/css\">
html, body {
    width: 400px}
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse:
    collapse;
    border-spacing: 0;
}
td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
}
th {
    background: #DFDFDF; /* Darken header a bit */
    font-weight: bold;
}
td {
    background: #FAFAFA;
    text-align: right;
    }
    table tr:nth-child(odd) td{
    background-color: white;
}
</style>
